page-menuprincipal {
  
    ion-slides{ max-height:23%;}
   
    /*.toolbar-background{ background:transparent; border-style:none;}
      .toolbar::after,.header-md::after{ background-image:none;}*/
      .footer-background{ background-color:#2c3e50 !important ;
      margin-bottom: 0px;}
      
}
 .contenedor-principal{
        //background-color:color($colors,primary);
          background-image:url('../assets/images/tennis/fondo2.jpg');  -webkit-background-size: cover; 
      -moz-background-size: cover;
       -o-background-size: cover; 
        background-size: cover; ;
       // background-size:100% auto;
margin:auto;

      }


.wrapper {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;
  background-color:none;
  color: #444;
}
.center {
     margin-left: 50%;
    margin-right: 50%;
   
    display: block;
}
.center2 {
    margin-left: 50%;
    margin-right: 50%;
   
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.soy{  font-family:raspoutine_demibolditalic; font-weight: 400; text-align: center;}
      .boton{ background: #ef623f;
              background-image: -webkit-linear-gradient(top, #ef623f, #D3613B);
              background-image: -moz-linear-gradient(top, #ef623f, #D3613B);
              background-image: -ms-linear-gradient(top, #ef623f, #D3613B);
              background-image: -o-linear-gradient(top, #ef623f, #D3613B);
              background-image: linear-gradient(to bottom, #ef623f, #D3613B);
              -webkit-border-radius: 60;
              -moz-border-radius: 60;
              border-radius: 60px;
              font-family: Arial;
              color: #ffffff;
              font-size: 12px;
              padding: 5px 10px 5px 10px;
              border: solid #ffffff 6px;
              text-decoration: none;}
  .iblack{ background: -webkit-linear-gradient(bottom left, #333, #333);
  background: -o-linear-gradient(bottom right, #333, #333);
  background: -moz-linear-gradient(bottom right, #333, #333);
  background: linear-gradient(to bottom right, #333, #333); 
  color: #fff;color: #fff;border-radius: 7px;}

  
  .ultimas-imagenes{
    margin-left: auto;
    margin-right: auto;
  }

  ion-row{
    
  }