<!--
  Generated template for the AutorizaraccesoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar  hideBackButton="true">
        
     <button ion-button menuToggle end><ion-icon name="menu"></ion-icon></button>
     
     
     </ion-navbar>

</ion-header>


<ion-content padding class="contenedor-principal">
    <div class = "row responsive-sm" >
     
    <h1 class="titulo">Autorizar Acceso de Invitados</h1>

  


          
    </div>

    <ion-grid>
    <ion-row>
      <ion-col col-12>
          <div class="contenedor-superior"> 
              <ion-list>  
                  <ion-item>
                    <ion-input class="cc" style="border: 1px;" type="text" placeholder="C.C."></ion-input>
                  </ion-item>
                <br>
                  <ion-item>
                    <ion-input class="nombreapellido" type="text" placeholder="Nombre y Apellidos (*)"></ion-input>
                  </ion-item>
                
                </ion-list>
                </div>
      </ion-col>
    </ion-row>

<!-- inicio de caja dinamica   -->
<div (click)="goTo()" *ngIf="btn">
    <ion-row >
    <ion-col col-11 >
        <div class="contenedor-superior"> 
            <ion-list>  
                <ion-item>
                  <ion-input class="cc" style="border: 1px;" type="text" placeholder="C.C."></ion-input>
                </ion-item>
              <br>
                <ion-item>
                  <ion-input class="nombreapellido" type="text" placeholder="Nombre y Apellidos (*)"></ion-input>
                </ion-item>

              </ion-list>
              </div>
    </ion-col>
    <ion-col col-1 >
<!-- inicio boton eliminar-->
                
                    
                    <ion-icon (click)="deleted(lenofarr)" *ngIf="btn" name="md-close-circle" class="div-icono"></ion-icon>

                     
                 
 <!-- fin boton eliminar-->
    </ion-col>
  </ion-row>
</div>
<!-- fin de caja dinamica -->


<!-- inicio boton agregar -->
    <ion-row>
      <ion-col col-12><div (click)="Add(lenofarr)">
          
          <u class="agregar"> <ion-icon name="add-circle" class="icon-add" ></ion-icon>Agregar Invitado</u>
          <br>
      </div></ion-col>
    </ion-row>
<!-- fin boton agregar -->    
    <ion-row>
        <ion-col col-12>    <div class="contenedor-inferior"> 
            <ion-list> 
               
                <ion-item>
                    <ion-icon  name="md-calendar" item-right></ion-icon>
                    <ion-input type="date" placeholder="Fecha de Acceso" align="center"></ion-input>
                    <br>
                  </ion-item>
                
                    
                  
              <br>
                <ion-item>
                  <ion-input type="time" placeholder="Hora de Entrada"></ion-input>
                  <ion-icon name="md-time" item-right></ion-icon>
                  <br>
                </ion-item>
                <br>
                <button class="botont center22" (click)="teetime()">Autorizar</button>
              
              </ion-list>
              </div></ion-col>
      </ion-row>
  </ion-grid>


  
  
  
  
    <ion-item *ngFor="let att of anArray; let idx = index">
        <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label>
        <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].value"></ion-input>
    </ion-item>
   
  
  <ion-card *ngIf="data">
    <ion-item *ngFor="let att of anArray;">
      <div class="card-title">{{att.value}}</div>
    </ion-item>
  </ion-card>


</ion-content>
