
<ion-menu [content]="content" type="overlay"  persistent="true"  side="right" ng-controller="RightController">
    
    <ion-header>
      <!-- AQUI ESTA LA CONFIGURACIÓN DEL MENÚ-->
      <ion-toolbar>
        <ion-item no-lines>
          <ion-avatar item-center class="center" style="width:40%">
                  <img  src={{imagen}} style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    
            
          </ion-avatar>
          <br>
           <h1 style="text-align:center;color:#fff;" >{{nombre}} {{apellido}}</h1>
            
        </ion-item>
      </ion-toolbar>
        
    </ion-header>
    <!--Ciclo de dinamico de paginas  -->
    <ion-content class="menucolor">
      <ion-list no-lines>
        <div *ngIf="logeado">
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)" >
                <ion-icon name="{{p.icon}}"></ion-icon>  {{p.title}}
          
    
        </button>
        </div>
        <div *ngIf="!logeado">
            <button ion-item *ngFor="let p of pagest" (click)="openPage(p)" >
                <ion-icon name="{{p.icon}}"></ion-icon>  {{p.title}}
          
    
        </button>
        </div>
    
      </ion-list>
    </ion-content>
    
    </ion-menu>
    
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
