<!--
  Generated template for the MisinvitacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
        <ion-navbar  hideBackButton="true">
            <ion-title>Tennis Golf Club</ion-title>
         <button ion-button menuToggle end><ion-icon name="menu"></ion-icon></button>
         
         
         </ion-navbar>
    
    </ion-header>
  


<ion-content padding class="contenedor-principal">
    
        <h1 class="titulo">Mis Invitaciones</h1>

        <ion-list>
          <span>Invitaciones pendientes por autorizar</span>
          <div *ngFor="let item2 of personas.data">
            <div  *ngIf="(item2.estado == 0)">
            <ion-item class="item-margin">
              <p style="color:black;">{{item2.nombre_completo}}</p>
              <p>{{item2.identificacion}}</p>
              <ion-icon class="md-trash" name="md-trash" item-end></ion-icon>
            </ion-item>  
          </div>
        </div>

      </ion-list>

      <ion-grid>
          <ion-row>
            <ion-col col-12><button class="botont center22 col-12 col-sm" (click)="showRadio()">Nueva invitación</button></ion-col>
          </ion-row>
          
        </ion-grid>
</ion-content>
          
      

